body {
    margin: 0 auto;
    background-color: #333333 !important;
}
.head {
    background-color: #333333;
    height: 30px;
    width: 200%;
}

.account {
    color: white;
}

.nav-custom {
    color: white !important;
    margin: -3px 0;
    float: right !important;
    font-size: 14px !important;
}

.dropdown-menu-custom {
    background-color: black !important;
}
.dropdown-item-custom {
    color: white !important;
    padding: 1px 9px !important;
    font-weight: 300 !important;
}

.dropdown-item-custom:hover {
    background-color: black !important;
    color: orange !important;
}

.header {
    background-color: #3b3b3b;
    color: white !important;
    position: fixed;
    top: 0;
    z-index: 100000;
    display: block;
}
.cart-icon {
    position: relative;
}
.items-cart {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    left: 35px;
}
.logo-search-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bar_icon:hover {
    opacity: 0.8;
}
.nav-link-active-custom {
    color: white !important;
    font-size: 14px;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.nav-link-active-custom:hover {
    color: orange !important;
}

.sale-off {
    background-color: #f23f2f;
}

.text-content {
    font-size: 28px;
    font-weight: 700;
    color: #555555;
}

.list-category-item {
    font-size: 24px !important;
    font-weight: 700;
}

.name-category-item {
    color: white !important;
    background-color: #333333 !important;
}

.name-category-item:hover {
    color: orange !important;
}

.container .row .col-3 .list-group .list-category-item > a:hover {
    color: orange;
}

.text-all-product {
    font-size: 24px;
    font-weight: 600;
}

.card-custom {
    background-color: #333333 !important;
    height: 320px;
}
.card-custom > .card-body > .product-title > a {
    color: orange;
}
.card-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.card-img-top {
    display: block;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
.category-icon {
    font-size: 24px;
    color: white;
    background-color: orangered;
    display: inline-block;
    padding: 5px 10px;
}

.product-title {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #555555;
    height: 50px;
    color: orange;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.product-title:hover {
    text-decoration: none !important;
    opacity: 0.8;
}
.price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
}
.old-price {
    margin-right: 20px;
    font-size: 14px;
    color: #d3d3d3;
    font-weight: 500;
    text-decoration: line-through;
    margin-bottom: auto;
    height: 18px;
}

.new-price {
    font-size: 18px;
    color: red;
    font-weight: 650;
    flex-grow: 1;
}
.list-product {
    margin: 0 0 !important;
}
.list-product .card:hover {
    box-shadow: 0 0 5px orange;
}
/* Gene  */
.gene_item {
    background: #fff;
}
.gene_img {
    object-fit: cover;
}
.gene_img img {
    display: block;
    width: 100%;
    height: 360px;
}
.gene_info {
    padding: 8px;
}
.gene_desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.gene_button {
    margin-bottom: 15px;
    cursor: pointer;
}
.best_item {
    padding: 4px 6px;
    background: #fff;
    margin-bottom: 20px;
}
.best_item img {
    display: block;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.best_title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    padding: 6px 0;
}
.price_bestitem {
    margin: 0;
}
.ico-sale {
    display: inline-block;
    background-color: #f23f2f;
    position: absolute;
    width: 40px;
    color: white;
    font-size: 13px;
    text-align: center;
    right: 3%;
    top: 5px;
}

.slide-container {
    overflow: auto;
    white-space: nowrap;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
    left: 0;
}
.MultiCarousel .rightLst {
    right: 0;
}
.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.info-category {
    color: white;
    font-size: 13px;
}

.color-card-body {
    background-color: #333333;
}
.card {
    margin: 0;
}
.card figure {
    overflow: hidden;
}
.card:hover {
    box-shadow: 0 0 10px orange;
}
.card-text.old-price {
    margin: 0;
}
.find .card #zoomIn {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}
.find .card #zoomIn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.type-of-product {
    display: flex !important;
    width: 100% !important;
    padding: 4% 2% !important;
    box-sizing: border-box !important;
    height: 44vh !important;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(236, 139, 27, 1);
    line-height: 0;
    border-radius: 10px;
}

.box > img {
    width: 100%;
    /*height: calc(100% - 10vh);*/
    object-fit: cover;
    transition: 0.5s;
}

.box > span {
    font-size: 2.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 1.2;
    color: orange;
    background-color: #333333;
}

.box:hover {
    flex: 1 1 25%;
}
.box:hover > img {
    width: 100%;
    height: 200px;
}

.name-product {
    color: white;
    font-size: 36px;
}

.name-provider {
    color: white;
}

.promotion {
    color: #d9b91c;
    font-size: 24px;
}

.shoe-size-btn {
    background-color: orange !important;
    margin-right: 5px;
}
